body{
    background-color: #000000;
}

.container{
    width: min(1000px, 100%);
    margin: 0 auto;
    columns: 3 300px;
    gap: 1em;

}

.collage{
    width: 100%;
    display: block;
    margin-bottom: 1em;
    border-radius: 10px;
}
 
/* collage */

h2{
    color: rgb(0, 0, 0);
    font-size: 25px
}

p{
    color: grey;
}
.card{
    top: 250px;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    animation: 1s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
    opacity:0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}
/* bewegende regenboog rand */


.card2{
    top: 400px;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card2::after, .card::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle),transparent 70%, rgb(136, 0, 255));
    animation: 2s spin linear infinite;
}

.card2::before{
    filter: blur(1.5rem);
    opacity:0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}
/* draaiende rand */
*{
    margin: 0;
    padding: 0;
}

.body-label{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #0F1016;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.product{
    padding: 2em;
    width: 350px;
    background-color: #272935;
    border-radius: .3em;
    display: grid;
    gap: 1em;
    text-align: center;
    position: relative;
}

.product::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    background-color: #ffdd002a;
    border: 1px solid #ffdd00;
    color: #ffdd00;
    padding: .5em 2em;
    border-radius: 100px;
    text-transform: uppercase;
    }

/* hover schaduw */
.shadow-box-body{
    background-color: #f9f9f9;
}
    
.shadow-box{
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
    background-color: #f9f9f9;
    transition: 0.5s;
}

.shadow-box-text{
    color: black;
    position: absolute;
    right: 105px;
    top: 80px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.shadow-box:hover{
    box-shadow: 12px 12px 12px rgba(0,0,0,0.1), -10px -10px 10px white;
}



/* color text */
.color-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-align: center;
    background: linear-gradient(to right, rgb(14, 62, 237), red);
    background-clip: text;
    color: transparent;
}

/* wrapper */
.wrapper{
    margin: auto;
    margin-top: 200px;
    display: flex;
    gap: 20px;
    width: 300px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card3{
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    text-align: center;
}